#icon1 {
    background-image: url('../icon/chat.png');
}

#icon2 {
    background-image: url('../icon/stable.png');
}

#icon3 {
    background-image: url('../icon/notes2.png');
}

#icon4 {
    background-image: url('../icon/logout_16697253.png');
}

#icon5 {
    background-image: url('../icon/weather.png');
}

#icon6 {
    background-image: url('../icon/settings.png');
}

#icon7 {
    background-image: url('../../icon/english.png');
}

#icon8 {
    background-image: url('../../icon/files.png');
}

#icon9 {
    background-image: url('../icon/m.png');
}

#icon10 {
    background-image: url('../icon/gallery.png');
}

#icon11 {
    background-image: url('../icon/facebook.png');
}

#icon12 {
    background-image: url('../icon/sketchbook.png');
}

#icon13 {
    background-image: url('../icon/whatsapp.png');
}

#icon14 {
    background-image: url('../icon/280259_fullscreen_full\ screen_expand_maximize_icon.png');
}

/* Fullscreen icon */