#icon1 {
    background-image: url('../icon/chat_with_ai.png');
}

#icon2 {
    background-image: url('../icon/Ap_image_gen.png');
}

/* Calendar icon with text */
#icon3 {
    background-image: url('../icon/notes.png');
}

#icon4 {
    background-image: url('../icon/notes2.png');
}

#icon5 {
    background-image: url('../icon/weather.png');
}

#icon6 {
    background-image: url('../icon/settings.png');
}

#icon7 {
    background-image: url('../../icon/english.png');
}

#icon8 {
    background-image: url('../../icon/files.png');
}

#icon9 {
    background-image: url('../icon/m.png');
}

#icon10 {
    background-image: url('../icon/gallery.png');
}

#icon11 {
    background-image: url('../icon/facebook.png');
}

#icon12 {
    background-image: url('../icon/sketchbook.png');
}

#icon13 {
    background-image: url('../icon/whatsapp.png');
}

#icon14 {
    background-image: url('../icon/system.png');
}

/* Fullscreen icon */