<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banned.css') }}">
    <title>iChun</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">

</head>

<body>
    <div id="page">
        <div id="container">
            <h1>:(</h1>
            <h2>Tài khoản của bạn đã bị cấm. Bạn không thể truy cập trang web này nữa.</h2>

            <div id="details">
                <div id="qr">
                    <div id="image">
                        <img src="http://xontab.com/experiments/Javascript/BSOD/qr.png" alt="QR Code" />
                    </div>
                </div>
                <div id="stopcode">
                    <h4>Để biết thêm thông tin về vấn đề này, vui lòng liên hệ với bộ phận hỗ trợ.</h4>
                    <h5>Nếu bạn gọi cho nhân viên hỗ trợ, vui lòng cung cấp thông tin này:
                        <br />Mã lỗi: 403 TÀI KHOẢN BỊ CẤM
                    </h5>
                </div>
            </div>
        </div>
    </div>
</body>



</html>