<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat với tui</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_chat.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pygments/2.7.4/styles/default.min.css">

    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/modules/module_chat.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/app.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>

</head>

<body>
    <div class="--dark-theme" id="chat">
        <div class="header">
            <div class="dropdown" style="position: absolute; top: 10px; right: 40px;">
                <img src="" alt="Avatar" class="dropdown-toggle" id="avatarDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    style="width: 40px; height: 40px; border-radius: 50%; cursor: pointer;">
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="avatarDropdown">
                    <!-- <a class="dropdown-item" href="#settings">Settings</a> -->
                    <a class="dropdown-item"
                        onclick='openApp("{{ url_ngrok }}/profile","Settings","700px","1200px")'>Thông
                        tin cá nhân</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/auth/logout">Đăng xuất</a>
                </div>
            </div>
        </div>
        <!-- <div id="menubar">
            <div id="team-picker">
                <ul class="teams">
                    <li class="team" id="new-chat">Chat mới</li>
                    <li class="team" id="new-chat-withdataset">Vẽ với AI</li>
                    <li class="team"></li>
                    <li>
                        <a href="/auth/logout" class="logout-icon" title="Đăng xuất"
                            style="color: #ffffff; font-family: sans-serif;">
                            <i class="fas fa-sign-out-alt"> Đăng xuất</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->

        <div class="chat_con" id="chat_container">
            <div class="chat__conversation-area">
                <div class="chat__conversation-board" id="response">
                    <!-- Tin nhắn sẽ được thêm vào đây -->
                </div>

                <div class="chat__conversation-panel" id="panel_container">
                    <!-- <div id="image_preview_container">
                        
                    </div> -->
                    <div class="chat__conversation-panel__container">
                        <input type="file" id="file_input" style="display:none;" accept="image/*" />
                        <button class="chat__conversation-panel__button panel-item btn-icon add-file-button"
                            id="add_file_button">
                            <?xml version="1.0" ?>
                            <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">
                                <title />
                                <path fill="black"
                                    d="M31.7582,93.0634A17.9879,17.9879,0,0,1,19.0319,62.3493L44.4845,36.8967a5.9992,5.9992,0,0,1,8.4841,8.4842L27.5161,70.8334A5.9992,5.9992,0,1,0,36,79.3176L69.937,45.3809a17.993,17.993,0,0,0,0-25.4525,18.4232,18.4232,0,0,0-25.4525,0L19.0319,45.3809a5.9992,5.9992,0,1,1-8.4841-8.4842L36,11.4442C47.3555.1008,67.1128.1008,78.4211,11.4442a29.9883,29.9883,0,0,1,0,42.4209L44.4845,87.8018A17.9584,17.9584,0,0,1,31.7582,93.0634Z" />
                            </svg>

                        </button>
                        <textarea class="chat__conversation-panel__input" id="user_input"
                            placeholder="Nhập tin nhắn..."></textarea>
                        <button class="chat__conversation-panel__button panel-item send-message-button" id="send">
                            <img src="../static/img/send.png" alt="Send" id="send-icon" />
                        </button>

                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-full" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Vẽ với tui</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe id="modalIframe" src="" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal_image" id="modal_img_preview" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Nút đóng sẽ nằm chồng lên ảnh -->
                    <button type="button" class="close" aria-label="Close" id="close_btn"
                        style="position: absolute; top: 5px; right: 10px; z-index: 99999; outline: none;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img id="img_preview" src="" />
                </div>
            </div>
        </div>
        <!-- <audio src="../static/uploads/audio_9a9dfe2a-a408-40d4-a4d2-83c5f0dbde24.mp3" autoplay></audio> -->
        <div id="audio">

        </div>

        <div class="appFrame" id="theApp">
            <div class="bar">
                <div class="control">
                    <div class="red" style="background-color: red;" onclick="closeApp()"></div>
                    <div class="yellow" style="background-color: yellow;" onclick="closeApp()"></div>
                    <div class="green" style="background-color: lime;" onclick="appFullScreen()"></div>
                </div>
                <div class="appName">Settings</div>
            </div>
            <iframe src="" frameborder="0" id="appWindowIframe"></iframe>
        </div>

        <script type="module">
            document.addEventListener("DOMContentLoaded", function () {
                const profilePicture = localStorage.getItem("profile_picture") || "https://via.placeholder.com/40";
                const avatarImg = document.getElementById("avatarDropdown");
                avatarImg.src = profilePicture;
            });

        </script>

        <!-- <script src="{{ url_for('static', filename='componant_modal.js') }}"></script> -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </div>

</body>

</html>