<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat với tui</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_chat.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pygments/2.7.4/styles/default.min.css">

    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/modules/module_chat.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/app.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>

</head>

<body>
    <div class="--dark-theme" id="chat">
        <div class="header">
            <div class="dropdown" style="position: absolute; top: 10px; right: 40px;">
                <img src="" alt="Avatar" class="dropdown-toggle" id="avatarDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    style="width: 40px; height: 40px; border-radius: 50%; cursor: pointer;">
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="avatarDropdown">
                    <!-- <a class="dropdown-item" href="#settings">Settings</a> -->
                    <a class="dropdown-item"
                        onclick='openApp("{{ url_ngrok }}/profile","Settings","700px","1200px")'>Thông
                        tin cá nhân</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/auth/logout">Đăng xuất</a>
                </div>
            </div>
        </div>
        <!-- <div id="menubar">
            <div id="team-picker">
                <ul class="teams">
                    <li class="team" id="new-chat">Chat mới</li>
                    <li class="team" id="new-chat-withdataset">Vẽ với AI</li>
                    <li class="team"></li>
                    <li>
                        <a href="/auth/logout" class="logout-icon" title="Đăng xuất"
                            style="color: #ffffff; font-family: sans-serif;">
                            <i class="fas fa-sign-out-alt"> Đăng xuất</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->

        <div class="chat_con" id="chat_container">
            <div class="chat__conversation-area">
                <div class="chat__conversation-board" id="response">
                    <!-- Tin nhắn sẽ được thêm vào đây -->
                </div>

                <div class="chat__conversation-panel" id="panel_container">
                    <!-- <div id="image_preview_container">
                        
                    </div> -->
                    <div class="chat__conversation-panel__container">
                        <input type="file" id="file_input" style="display:none;" accept="image/*" />
                        <button class="chat__conversation-panel__button panel-item btn-icon add-file-button"
                            id="add_file_button">
                            <?xml version="1.0" ?>
                            <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">
                                <title />
                                <path fill="black"
                                    d="M31.7582,93.0634A17.9879,17.9879,0,0,1,19.0319,62.3493L44.4845,36.8967a5.9992,5.9992,0,0,1,8.4841,8.4842L27.5161,70.8334A5.9992,5.9992,0,1,0,36,79.3176L69.937,45.3809a17.993,17.993,0,0,0,0-25.4525,18.4232,18.4232,0,0,0-25.4525,0L19.0319,45.3809a5.9992,5.9992,0,1,1-8.4841-8.4842L36,11.4442C47.3555.1008,67.1128.1008,78.4211,11.4442a29.9883,29.9883,0,0,1,0,42.4209L44.4845,87.8018A17.9584,17.9584,0,0,1,31.7582,93.0634Z" />
                            </svg>

                        </button>
                        <button class="chat__conversation-panel__button panel-item btn-icon add-file-button"
                            id="stop_speech" style="display:none;">
                            <?xml version="1.0" ?><svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><polygon fill="black" fill-rule="evenodd" points="8 9.414 3.707 13.707 2.293 12.293 6.586 8 2.293 3.707 3.707 2.293 8 6.586 12.293 2.293 13.707 3.707 9.414 8 13.707 12.293 12.293 13.707 8 9.414"/></svg>

                        </button>
                        <textarea
                          class="chat__conversation-panel__input"
                          id="user_input"
                          placeholder="Nhập tin nhắn..."
                          ></textarea>
                        <button
                          class="chat__conversation-panel__button panel-item send-message-button"
                          id="send">
                          <?xml version="1.0"?>
                          <svg
                            id="send-icon"
                            style="enable-background: new 0 0 200 200; transform: scale(3);"
                            version="1.1"
                            viewBox="0 0 24 24"
                            xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            >
                            <g id="info" />
                            <g id="icons">
                            <path fill="white" d="M13 7.828V20h-2V7.828l-5.364 5.364-1.414-1.414L12 4l7.778 7.778-1.414 1.414L13 7.828z"/></g>
                          </svg>
                        </button>
                        <button
                          class="chat__conversation-panel__button panel-item micButton"
                          id="micButton"
                          >
                          <?xml version="1.0" ?>
                          <svg
                              data-name="Layer 1"                             
                              id="Layer_1"
                              viewBox="0 0 200 200"
                              xmlns="http://www.w3.org/2000/svg"
                              style="transform: scale(3)"
                              >
                              <title />
                              <path
                                d="M99.52,150a50.15,50.15,0,0,0,50-50V65a50,50,0,0,0-100,0v35A50.15,50.15,0,0,0,99.52,150Zm-30-85a30,30,0,0,1,60,0v35a30,30,0,0,1-60,0Z"
                                />
                              <path
                                d="M109.52,77.5a10,10,0,0,0,10-10V60a10,10,0,1,0-20,0v7.5A10,10,0,0,0,109.52,77.5Z"
                                />
                              <path
                                d="M168.52,126c-5-2-11,0-13,5a57,57,0,0,1-52,34H96a57,57,0,0,1-52-34,9.52,9.52,0,0,0-13-5,9.52,9.52,0,0,0-5,13c12,28,40,46,70.5,46H104a77.2,77.2,0,0,0,70.5-46C176,134,173.52,128,168.52,126Z"
                                />
                          </svg>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-full" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Vẽ với tui</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe id="modalIframe" src="" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal_image" id="modal_img_preview" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Nút đóng sẽ nằm chồng lên ảnh -->
                    <button type="button" class="close" aria-label="Close" id="close_btn"
                        style="position: absolute; top: 5px; right: 10px; z-index: 99999; outline: none;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img id="img_preview" src="" />
                </div>
            </div>
        </div>
        <!-- <audio src="../static/uploads/audio_9a9dfe2a-a408-40d4-a4d2-83c5f0dbde24.mp3" autoplay></audio> -->
        <div id="audio">

        </div>

        <div class="appFrame" id="theApp">
            <div class="bar">
                <div class="control">
                    <div class="red" style="background-color: red;" onclick="closeApp()"></div>
                    <div class="yellow" style="background-color: yellow;" onclick="closeApp()"></div>
                    <div class="green" style="background-color: lime;" onclick="appFullScreen()"></div>
                </div>
                <div class="appName">Thông tin</div>
            </div>
            <iframe src="" frameborder="0" id="appWindowIframe"></iframe>
        </div>

        <script type="module">
            document.addEventListener("DOMContentLoaded", function () {
                const profilePicture = localStorage.getItem("profile_picture") || "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIEdlbmVyYXRvcjogU1ZHIFJlcG8gTWl4ZXIgVG9vbHMgLS0+Cjxzdmcgd2lkdGg9IjgwMHB4IiBoZWlnaHQ9IjgwMHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogICAgPHBhdGggZD0ibSA4IDEgYyAtMS42NTYyNSAwIC0zIDEuMzQzNzUgLTMgMyBzIDEuMzQzNzUgMyAzIDMgcyAzIC0xLjM0Mzc1IDMgLTMgcyAtMS4zNDM3NSAtMyAtMyAtMyB6IG0gLTEuNSA3IGMgLTIuNDkyMTg4IDAgLTQuNSAyLjAwNzgxMiAtNC41IDQuNSB2IDAuNSBjIDAgMS4xMDkzNzUgMC44OTA2MjUgMiAyIDIgaCA4IGMgMS4xMDkzNzUgMCAyIC0wLjg5MDYyNSAyIC0yIHYgLTAuNSBjIDAgLTIuNDkyMTg4IC0yLjAwNzgxMiAtNC41IC00LjUgLTQuNSB6IG0gMCAwIiBmaWxsPSIjMmUzNDM2Ii8+DQo8L3N2Zz4=";
                const avatarImg = document.getElementById("avatarDropdown");
                avatarImg.src = profilePicture;
            });

        </script>

        <!-- <script src="{{ url_for('static', filename='componant_modal.js') }}"></script> -->
        <script src="{{ url_for('static', filename='js/modules/speechtotext.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </div>

</body>

</html>