<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iChun website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/statusbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bottom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mouse.css') }}">

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/openLink.js') }}"></script>
    <script src="{{ url_for('static', filename='js/time.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
</head>
<!-- <body onmousemove="mouseMoved(event)"> -->

<body>
    <div class="statusbar"></div>
    <div class="main">

        <div class="right">

        </div>
    </div>
    <div class="bottom">
        <div class="container">

            <div id="icon1" class="icon"
                onclick='openApp("http://127.0.0.1:5000/auth/chat","AI Lieu Nhu Yen","700px","1200px")'></div>
            <!-- <div id="icon2" class="icon" onclick='openApp("","Calendar","700px","1200px")'>
                <p>Sunday</p>
                <h1>21</h1>
            </div> -->
            <div id="icon2" class="icon" onclick='openApp("http://127.0.0.1:7860","Stable Diffusion","700px","1200px")'>
            </div>
            <!-- <div id="icon3" class="icon"></div> -->
            <div id="icon4" class="icon"
                onclick='openApp("https://codeabinash.github.io/localstorage-notes-application/","Notes","700px","1200px")'>
            </div>
            <div id="icon5" class="icon"
                onclick='openApp("https://codeabinash.github.io/Weather/","Weather","700px","1200px")'></div>
            <div id="icon6" class="icon" onclick='openApp("","Settings","700px","1200px")'></div>

            <div id="icon9" class="icon"></div>
            <div id="icon11" class="icon" onclick='openApp("https://www.google.com/","Facebook","700px","1200px")'>
            </div>
            <div id="icon12" class="icon"></div>
            <div id="icon13" class="icon"></div>
            <div id="icon14" class="icon" onclick='openFullscreen()'></div>



        </div>
    </div>

    <div class="appFrame" id="theApp">
        <div class="bar" id="appBar">
            <div class="control">
                <div class="red" style="background-color: red;" onclick="closeApp()"></div>
                <div class="yellow" style="background-color: yellow;" onclick="closeApp()"></div>
                <div class="green" style="background-color: lime;" onclick="appFullScreen()"></div>
            </div>
            <div class="appName">Settings</div>
        </div>
        <iframe src="/src/main/templates/app/settings.html" frameborder="0" id="appWindowIframe"></iframe>
    </div>
    <script src="{{ url_for('static', filename='js/mouseMove.js') }}"></script>
</body>

</html>