<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iChun website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/statusbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bottom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mouse.css') }}">

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

    <script src="{{ url_for('static', filename='js/modules/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/openLink.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/time.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/notes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/app.js') }}"></script>


</head>
<!-- <body onmousemove="mouseMoved(event)"> -->

<body>

    <!-- <div class="statusbar"></div> -->
    <div class="main">

        <div class="left" style=" text-align: center; margin: auto; padding: auto;">
            <div class="time">
                <h1></h1>
                <p></p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">

            <div id="icon1" class="icon"
                onclick='openApp("{{ url_ngrok_5000 }}/chat", "AI Liễu Như Yên", "700px", "1200px")'></div>


            <!-- <div id="icon2" class="icon" onclick='openApp("","Calendar","700px","1200px")'>
                    <p>Sunday</p>
                    <h1>21</h1>
                </div> -->
            <div id="icon2" class="icon" onclick='openApp("{{ url_ngrok_7860 }}","Stable Diffusion","700px","1200px")'>
            </div>
            <!-- <div id="icon3" class="icon"></div> -->
            <div id="icon3" class="icon"
                onclick='openApp("https://codeabinash.github.io/localstorage-notes-application/","Notes","700px","1200px")'>
            </div>
            <a id="icon4" class="icon" href="{{ url_ngrok }}/auth/logout"></a>
            <!-- <div id="icon6" class="icon" onclick='openApp("","Settings","700px","1200px")'></div> -->

            <!-- <div id="icon9" class="icon"></div>
                <div id="icon11" class="icon" onclick='openApp("https://www.google.com/","Facebook","700px","1200px")'>
                </div>
                <div id="icon12" class="icon"></div>
                <div id="icon13" class="icon"></div>-->
            <div id="icon14" class="icon" onclick='openFullscreen()'></div>
        </div>
    </div>

    <div class="appFrame" id="theApp">
        <div class="bar">
            <div class="control">
                <div class="red" style="background-color: red;" onclick="closeApp()"></div>
                <div class="yellow" style="background-color: yellow;" onclick="closeApp()"></div>
                <div class="green" style="background-color: lime;" onclick="appFullScreen()"></div>
            </div>
            <div class="appName">Settings</div>
        </div>
        <iframe src="" frameborder="0" id="appWindowIframe"></iframe>
    </div>

    <script>
        window.onload = function () {
            // Kích hoạt hiệu ứng mở ra cho phần .bottom khi trang load
            document.querySelector('.bottom').classList.add('open');
        };

    </script>
</body>

</html>